# Deep Learning
torch
torchvision
numpy
opencv-python

# Backend / API
fastapi
uvicorn
python-multipart
pydantic

# Machine Learning (Cost Model)
pandas
scikit-learn
joblib

# Chatbot
google-generativeai
python-dotenv
Pillow

# Database & Auth
sqlmodel
sqlmodel
passlib
bcrypt==3.2.0
python-jose[cryptography]
python-jose[cryptography]
python-multipart
